<a href="https://colab.research.google.com/github/Blandskron/ReadHTML/blob/main/Readhtml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
datos = pd.read_html('https://www.zeitverschiebung.net/es/all-time-zones.html')
datos

[    UTC (Tiempo universal coordinado)        Zona horaria  \
 0                              UTC-11      Pacific/Midway
 1                              UTC-11        Pacific/Niue
 2                              UTC-11   Pacific/Pago_Pago
 3                              UTC-10        America/Adak
 4                              UTC-10    Pacific/Honolulu
 ..                                ...                 ...
 414                            UTC+13        Pacific/Apia
 415                            UTC+13     Pacific/Fakaofo
 416                            UTC+13      Pacific/Kanton
 417                            UTC+13   Pacific/Tongatapu
 418                            UTC+14  Pacific/Kiritimati

                                      País  \
 0    United States Minor Outlying Islands
 1                                    Niue
 2                          American Samoa
 3                           United States
 4                           United States
 ..                                    ...
 414                                 Samoa
 415                               Tokelau
 416                              Kiribati
 417                                 Tonga
 418                              Kiribati

              Principales ciudades en esta zona horaria
 0                                                  NaN
 1                                                Alofi
 2                     Pago Pago, Tāfuna, Ta`ū, Taulaga
 3                                                  NaN
 4    Honolulu, East Honolulu, Pearl City, Hilo, Kailua
 ..                                                 ...
 414           Apia, Asau, Mulifanua, Afega, Leulumoega
 415       Atafu Village, Nukunonu, Fale old settlement
 416                                                NaN
 417        Nuku‘alofa, Lapaha, Neiafu, Pangai, ‘Ohonua
 418                                                NaN

 [419 rows x 4 columns]]